:root {
  --main-green: #22C55E;
  --main-cyan: #06B6D4;
  --dark-cyan: #0E7490;
  --main-gray: #404040;
  --dark-gray: #171717;
  --light-gray: #E5E5E5;
}

body {
  margin: 0;
  padding: 0;
font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  color: white;
  background-image: linear-gradient(-62deg, var(--main-gray), var(--dark-gray));
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--main-cyan);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: white;
  font-family: 'League Spartan', sans-serif;
}

#navbar a {
  padding: 16px;
  width: 50%;
}

#navbar a:hover, #navbar a:focus, .active {
  background-color: white;
  color: var(--main-cyan);
  box-shadow: 0 0 10px 2px var(--dark-cyan);
}

#welcome-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
}

h1, h2 {
  font-family: 'League Spartan', sans-serif;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

p {
  font-size: 1.5rem;
}

#projects {
  background-color: var(--main-green);
  background-image: radial-gradient(at 0% 0%,var(--main-green), var(--main-cyan));
  box-shadow: 0 0 5px 5px var(--dark-gray);
  padding: 20px;
}

.project-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.project-tile {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  color: var(--dark-gray);
}

img {
  width: 100%;
}

.project-tile:hover, .project-tile:focus {
  background-color: var(--light-gray);
}

#contacts {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
}

#profile-link {
  padding: 10px;
}

#profile-link:hover {
  background-color: var(--main-cyan);
  border-radius: 5px;
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }
}